@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// add custom theme colors to bootstrap theme colors
$custom-theme-colors: (
  "p-blue": hsl(231, 69%, 60%),
  "p-red": hsl(0, 94%, 66%),
  "s-light": hsl(229, 8%, 60%),
  "s-dark": hsl(229, 31%, 21%),
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop(
  $utilities-colors,
  rgba-css-var,
  "$key",
  "text"
);
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

// override bootstrap defaulf font family with google font
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
$font-family-sans-serif: "Rubik", sans-serif; // bootstrap variable

// bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";




/* -- global rules start -- */

* {
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 0;
}

section {
  margin-top: 100px;
}


/* custom containers */

.left-container {
  @include media-breakpoint-up(md) {
    padding-left: calc((100% - 720px) / 2);
  }

  @include media-breakpoint-up(lg) {
    padding-left: calc((100% - 960px) / 2);
  }

  @include media-breakpoint-up(xl) {
    padding-left: calc((100% - 1140px) / 2);
  }

  @include media-breakpoint-up(xxl) {
    padding-left: calc((100% - 1320px) / 2);
  }
}

.right-container {
  @include media-breakpoint-up(md) {
    padding-right: calc((100% - 720px) / 2);
  }

  @include media-breakpoint-up(lg) {
    padding-right: calc((100% - 960px) / 2);
  }

  @include media-breakpoint-up(xl) {
    padding-right: calc((100% - 1140px) / 2);
  }

  @include media-breakpoint-up(xxl) {
    padding-right: calc((100% - 1320px) / 2);
  }
}


/* background shapes (used in header and features section) */

.background-shape-right,
.background-shape-left {
  position: relative;
  z-index: 100;

  &::before {
    content: "";
    width: 85%;
    height: 75%;
    position: absolute;
    bottom: 0;
    background-color: map-get($custom-theme-colors, "p-blue");
    z-index: -1;
  }
}

.background-shape-right::before {
  right: 0;
  border-radius: 500px 0 0 500px;
}

.background-shape-left::before {
  left: 0;
  border-radius: 0 500px 500px 0;
}

/* -- global rules end -- */


/* -- header start -- */

.hidden {
  display: none;
}

header {
  nav {
    /* blured background */
    &.blured-background {
      background-color: rgba(white, 0.8);
      backdrop-filter: blur(8px);
    }

    .offcanvas-header {
      width: 90%;
      margin-bottom: 2em;

      .social {
        position: absolute;
        bottom: 3em;
        left: 50%;
        transform: translateX(-50%);

        .navbar-nav {
          flex-direction: row;
        }
      }
    }

    .offcanvas {
      background-color: rgba(map-get($custom-theme-colors, "s-dark"), 0.9);
      width: 100vw;
    }

    .close-icon {
      background-color: transparent;
      border: none;
      outline: none;
    }

    .navbar-toggler {
      background-color: transparent;
      border: none;

      &:hover,
      &:focus {
        box-shadow: none;
      }
    }

    @include media-breakpoint-down(lg) {
      ul {
        li {
          width: 80%;
        }
      }
    }

    .nav-link,
    .nav-btn {
      text-transform: uppercase;
      text-align: center;

      @include media-breakpoint-down(lg) {
        margin: 0 auto;
        color: #fff !important;
        font-weight: lighter;
        font-size: 1.2rem;
        letter-spacing: 0.1em;
      }
    }

    .nav-link {
      position: relative;

      @include media-breakpoint-down(lg) {
        padding: 1em;

        &::before {
          content: "";
          width: 100%;
          height: 0.25px;
          background-color: rgb(197, 194, 194);
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }

    .nav-link:last-child {
      @include media-breakpoint-down(lg) {
        &::after {
          content: "";
          width: 100%;
          height: 0.25px;
          background-color: rgb(197, 194, 194);
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    .nav-btn {
      @include media-breakpoint-down(lg) {
        padding: 0.5em;
        width: 100%;
        background-color: transparent;
        border: 2px solid #fff;
        margin-top: 1em;
      }
    }
  }

  section {
    margin-top: 150px !important;
  }
}

/* -- header end -- */

/* -- features section start -- */

.nav-tabs {
  border: none;
  align-items: center;
  justify-content: center;

  .tab-link {
    border: none;
    padding-bottom: 1em;
    min-width: 100%;
    margin-bottom: 0;

    color: map-get($custom-theme-colors, "s-light");
    border-bottom: 1px solid map-get($custom-theme-colors, "s-light");

    &:hover {
      border-bottom: 1px solid map-get($custom-theme-colors, "s-light");
      color: map-get($custom-theme-colors, "p-red") !important;
    }

    &.active {
      border-bottom: 3px solid map-get($custom-theme-colors, "p-red") !important;
    }

    @include media-breakpoint-up(md) {
      min-width: unset;
    }
  }
}

/* -- features section end -- */


/* -- download section start -- */

#download {
  .card {
    border: none;
    box-shadow: 0 0.8rem 1rem 0px rgba(map-get($custom-theme-colors, "p-blue"), 15%);
    border-radius: 10px;
  }
}

/* -- download section end -- */


/* -- questions section start -- */

// FIXME: I can't override this variable :(
// $accordion-button-active-icon: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="12"><path fill="none" stroke="#5267DF" stroke-width="3" d="M1 1l8 8 8-8"/></svg>') !important;

.accordion-item {
  border-left: none;
  border-right: none;

  .accordion-button {
    &::after {
      content: '';
      background-image: url("../images/icon-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}

/* -- questions section end -- */


/* -- footer start -- */

footer {
  form {
    .form-floating {

      input {
        min-width: 300px !important;
        height: 50px !important;
      }
  
      .floating-label {
        top: -4px;
      }
    }

    button {
      width: 300px !important;
      height: 50px;

      @include media-breakpoint-up(md) {
        width: unset !important;
      }
    }
  }

  nav {
    .container {
      flex-direction: column !important;

      @include media-breakpoint-up(md) {
        flex-direction: row !important;
      }
    }

    .social {
      ul {
        flex-direction: row !important;
      }
    }
  }
}

/* -- footer end -- */
